{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
        <title>Ranking Desaparecidos</title>
    </head>
    <body>
        <div class="container">
            <div class="row h-100">
                <div class="col"></div>
                <div class="col-md-auto my-auto">
                    <h1 class="logo text-hide">Busca de Desaparecidos</h1>
                    <form action="/search" method="GET">
                        <div class="form-group">
                            <input class="form-control form-control-md" id="id_search_id" type="text" name="search_id" maxlength="100" required placeholder="🙎🏽‍♂️ Identificador Sinalid"></p>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Buscar</button>
                    </form>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </body>
</html>
