{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
        <title>Resultado Busca</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col"></div>
                <div class="col-md-auto my-auto text-center">
                    <h2 class="logo text-hide">Busca de Desaparecidos</h2>
                    <form class="form-inline" action="/search", method="GET">
                        <div class="form-group mx-sm-3 mb-2">
                            <input class="form-control form-control-md" id="id_search_id" type="text" name="search_id" maxlength="100" required placeholder="🙎🏽‍♂️ Identificador Sinalid"></p>
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">🔍</button>
                    </form>
                </div>
                <div class="col"></div>
            </div>

            {% for message in messages %}
                {{ message }}
            {% endfor %}

            {% if not messages %}
                <div class="row">
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">
                                    Indivíduo
                                </h3>
                                <div class="row">
                                    <div class="col-auto">
                                        {% if person_attrs.foto is not None %}
                                            <div class="foto"><img width=80px style="border-radius: 50%;"src="{{person_attrs.foto.read}}"></div>
                                        {% else %}
                                            <div class="foto foto-desconhecida"></div>
                                        {% endif %}
                                    </div>
                                    <div class="col">
                                        <dl>
                                            <dt>ID:</dt>
                                            <dd>{{ person_attrs.id_sinalid | default_if_none:"—" }}</dd>
                                            <dt>Data Nascimento:</dt>
                                            <dd>
                                            {% if person_attrs.data_nascimento is None %}
                                                —
                                            {% else %}
                                                {{ person_attrs.data_nascimento|date:"d/m/Y"}}
                                            {% endif %}
                                            </dd>
                                            <dt>Idade:</dt>
                                            <dd>
                                            {% if person_attrs.idade is None %}
                                                —
                                            {% else %}
                                                {{ person_attrs.idade }}
                                            {% endif %}
                                            </dd>
                                            <dt>Idade Aparente:</dt>
                                            <dd>
                                            {% if person_attrs.idade_aparente is None %}
                                                —
                                            {% else %}
                                                {{ person_attrs.idade_aparente }}
                                            {% endif %}
                                            </dd>
                                            <dt>Gênero</dt>
                                            <dd>
                                            {% if person_attrs.sexo is None %}
                                                —
                                            {% else %}
                                                {{ person_attrs.sexo }}
                                            {% endif %}
                                            </dd>
                                            <dt>Data Fato:</dt>
                                            <dd>
                                            {% if person_attrs.data_fato is None %}
                                                —
                                            {% else %}
                                                {{ person_attrs.data_fato|date:"d/m/Y"}}
                                            {% endif %}
                                            </dd>
                                            <dt>Bairo:</dt>
                                            {% if person_attrs.bairro_latitude is not None and person_attrs.bairro_longitude is not None %}
                                            <dd><a target="_blank" href="https://www.google.com/maps/search/?api=1&query={{person_attrs.bairro_latitude}},{{person_attrs.bairro_longitude}}">{{ person_attrs.bairro_nome}}</a></dd>
                                            {% else %}
                                                <dd>{{ person_attrs.bairro_nome | default_if_none:"—" }}</dd>
                                            {% endif %}
                                            <dt>Cidade:</dt>
                                            {% if person_attrs.cidade_latitude is not None and person_attrs.cidade_longitude is not None %}
                                            <dd><a target="_blank" href="https://www.google.com/maps/search/?api=1&query={{person_attrs.cidade_latitude}},{{person_attrs.cidade_longitude}}">{{ person_attrs.cidade_nome}}</a></dd>
                                            {% else %}
                                                <dd>{{ person_attrs.cidade_nome | default_if_none:"—" }}</dd>
                                            {% endif %}
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="card">
                            <div class="card-body">
                                <h3>
                                    Resultado da Busca
                                </h3>
                                <table class="table table-borderless text-center">
                                    <thead>
                                        <tr>
                                            <th scope="col">identificador sinalid</th>
                                            <th scope="col">data nascimento</th>
                                            <th scope="col">idade</th>
                                            <th scope="col">idade aparente</th>
                                            <th scope="col">gênero</th>
                                            <th scope="col">data fato</th>
                                            <th scope="col">bairro</th>
                                            <th scope="col">cidade</th>
                                            <th scope="col">lat/long score</th>
                                            <th scope="col">date score</th>
                                            <th scope="col">age score</th>
                                            <th scope="col">final score</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in results %}
                                            <tr>
                                                <td><a href='search?search_id={{row.id_sinalid}}'>{{row.id_sinalid}}</a></td>
                                                <td>
                                                    {% if row.data_nascimento is None %}
                                                        —
                                                    {% else %}
                                                        {{row.data_nascimento|date:"d/m/Y"}}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if row.idade is None %}
                                                        —
                                                    {% else %}
                                                        {{row.idade}}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if row.idade_aparente is None %}
                                                        —
                                                    {% else %}
                                                        {{row.idade_aparente}}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if row.sexo is None %}
                                                        —
                                                    {% else %}
                                                        {{row.sexo}}
                                                    {% endif %}
                                                </td>
                                                <td>{{row.data_fato|date:"d/m/Y"}}</td>
                                                <td>
                                                    {% if row.bairro_latitude is not None and row.bairro_longitude is not None %}
                                                        {% if person_attrs.bairro_latitude is not None and person_attrs.bairro_longitude is not None %}
                                                            <a target="_blank" href="https://www.google.com/maps/dir/{{row.bairro_latitude}},{{row.bairro_longitude}}/{{person_attrs.bairro_latitude}},{{person_attrs.bairro_longitude}}">{{row.bairro_nome | default_if_none:"—"}}</a></td>
                                                        {% else %}
                                                            <a target="_blank" href="https://www.google.com/maps/search/?api=1&query={{row.bairro_latitude}},{{row.bairro_longitude}}">{{row.bairro_nome | default_if_none:"—"}}</a></td>
                                                        {% endif %}
                                                    {% else %}
                                                        {{row.bairro_nome | default_if_none:"—"}}
                                                    {% endif %}
                                                <td>
                                                    {% if row.cidade_latitude is not None and row.cidade_longitude is not None %}
                                                        {% if person_attrs.cidade_latitude is not None and person_attrs.cidade_longitude is not None %}
                                                            <a target="_blank" href="https://www.google.com/maps/dir/{{row.cidade_latitude}},{{row.cidade_longitude}}/{{person_attrs.cidade_latitude}},{{person_attrs.cidade_longitude}}">{{row.cidade_nome | default_if_none:"—"}}</a></td>
                                                        {% else %}
                                                            <a target="_blank" href="https://www.google.com/maps/search/?api=1&query={{row.cidade_latitude}},{{row.cidade_longitude}}">{{row.cidade_nome | default_if_none:"—"}}</a></td>
                                                        {% endif %}
                                                    {% else %}
                                                        {{row.cidade_nome | default_if_none:"—"}}
                                                    {% endif %}
                                                <td>
                                                    {% if row.lat_long_score is None %}
                                                        —
                                                    {% else %}
                                                        {{row.lat_long_score|floatformat:5}}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if row.date_score is None %}
                                                        —
                                                    {% else %}
                                                        {{row.date_score|floatformat:5}}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if row.age_score is None %}
                                                        —
                                                    {% else %}
                                                        {{row.age_score|floatformat:5}}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if row.final_score is None %}
                                                        —
                                                    {% else %}
                                                        {{row.final_score|floatformat:5}}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </body>
</html>
