body {
    background: url(../img/bg.png);
    background-size: cover
}

h1.logo {
    background: url(../img/logo_busca.png);
    background-size: cover;
    width: 430px;
    height: 120px;
    margin-bottom: 100px;
}

@media
only screen and (min-resolution: 200dpi),
only screen and (min-resolution: 1.25dppx) {
    body {
        background: url(../img/bg@2x.png)
    }
    h1.logo {
        background: url(../img/logo_busca@2x.png)
    }
}